@import '../../../components/styles/variables/mixins';
.Favorites {
  @include cardsWrapper;
  max-width: 1680px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.FavoritesListWrapper {
  @include wrapper;
}

.PaginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.PaginationBtn {
  @include PaginationBtn;
}

.NotFavorites {
  @include error;
}

.error {
  @include error;
}

.loading {
  @include loading;
}

.ProductTitle {
  @include productTitle;
}
