@import '../../styles/variables/mixins';
.Header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &Search {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Links {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &Filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    &Title {
      @include titleH5;
      color: var(--text-secondary);
      font-weight: 500;
    }
  }
  &Navbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    gap: 1rem;
    border-radius: var(--largeRadius);
    & li {
      @include paragraph1;
      text-decoration: none;
      color: var(--text-secondary);
      font-weight: 600;
      padding: 0.5rem;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;
      -webkit-transition: color 0.3s ease, background-color 0.3s ease;
      -moz-transition: color 0.3s ease, background-color 0.3s ease;
      -ms-transition: color 0.3s ease, background-color 0.3s ease;
      -o-transition: color 0.3s ease, background-color 0.3s ease;
      &:hover {
        color: var(--link-text);
        background-color: var(--link-bg);
        border-radius: var(--largeRadius);
      }
    }
  }
  .FavoriteLink {
    @include paragraph1;
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 600;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    &:hover {
      color: var(--bg-accentHover);
    }
  }
  .FavoriteLinkActive {
    @include paragraph1;
    text-decoration: none;
    color: var(--bg-accentHover);
    cursor: default;
    font-weight: 600;
  }

  .active {
    color: var(--bg-accentHover);
    background-color: var(--white-500);
  }
}
